<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .text-input {
      width: 120px;
      padding: 6px 10px;
      font-size: 20px;
      border: 2px solid #ccc;
      border-radius: 6px;
    }
    .text-input:focus {
      outline: none;
      border: 2px solid #adff2f;

    }
  </style>
</head>

<body>
  <h2>연습</h2>
  <form action="">
    <input type="text" name="" id="">
    <input type="text" class="text-input">
    <button type="submit">전송</button>
  </form>
</body>

</html>
