* { box-sizing: border-box; }
html, body { height: 100%; }
body {
    /* font-family: ; */
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}
.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#top {
    position: absolute;
    top: 0;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    box-shadow: 5px 0 10px #000;
}
header .inner {
    background-color: #ccc;
    max-width: 1200px;
    height: 120px;
    border-bottom: 0 solid ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    transition: 2000ms;
}
header .inner .logo {
    margin: 0 20px;

    animation: fade-in 4000ms;
}
header .inner .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
header .inner .center {
    flex: 1;
}
header .inner .center .bar {
    border: 1px solid;
    width: 100%;
    animation: fill-center 2000ms;
}

header .inner nav ul {
    display: flex;
}
header .inner nav ul li {
    margin: 0 20px;
    font-weight: bold;
    animation: fade-in 4000ms;
}
header .inner nav ul a:hover {
    color: #7FFFD4;
    font-weight: bold;
    text-shadow: 0 0 10px #333;
}

main {
    display: flex;
    justify-content: center;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main .inner {
    max-width: 1200px;
    width: calc(100vh-120px);
    background-color: #fff;
}
main section {
    padding: 200px 50px 0;
    width: calc(100vh-120px);
    /* background-color: #fff; */
    font-size: 24px;
    animation: float-up 2000ms, fade-in 4000ms;
    text-shadow:-1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
    line-height: 1.3;
    word-break: break-all;
}
/* main .intro article { animation-delay: 200ms; } */

main .about { animation-delay: 200ms; }
main .about .about__wrapper{
    display: flex;
}
main .about.scroll-spy {
    transform: scaleX(-1);
}
main .about .profile img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}



aside {
    position: fixed;
    text-align: center;
    bottom: 5%;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
aside:hover {
    cursor: pointer;
}


@keyframes float-up {
    0% {transform: translateY(400px);}
    100% {transform: translateY(0);}
}

@keyframes fill-center {
    0% { transform: scaleX(0);}
    100% { transform: scaleX(100%);}
}

@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
