* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-image: url(../image/background.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    overflow-x: hidden;
}
.font-en {
  font-family: "Open Sans", sans-serif;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.title {
    font-size: 36px;
    font-weight: 800;
}
.inner .title-box {
    display: inline-block;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
}
.box-hover {
    display: block;
    transition: 300ms;
}
.box-hover:hover {
    box-shadow: 1px 1px 5px #000;
    transform: scale(1.1) translateY(-10%);
}
/* COMMON */
/* HEADER */
header {
    background-color: rgb(150, 150, 150);
    box-shadow: 0 2px 8px #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}
header > .inner {
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;

    animation: fade-in 4000ms;
}
header .logo img {
    width: 100%;
}
header .inner .center {
    flex: 1;
}
header .inner .center .bar {
    border: 1px solid;
    width: 100%;

    animation: fill-center 2000ms;
}
header nav ul {
    display: flex;

    animation: fade-in 4000ms;
}
header nav ul li {
    padding: 10px 20px;
    font-weight: 700;
}
header nav ul li:hover {
    color: #7FFFD4;
    font-weight: bold;
    text-shadow: 0 0 10px #333;
}
/* HEADER */
/* INTRO */
.intro {
    padding-top: 100px;
}
.intro .inner .title::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 20px auto;
}
.intro .inner p {
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 0 10px #fff;
    margin: 20px 0
}
.intro .inner #next {
    height: 5px;
}
.intro .inner .intro__btn {
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}
.intro .inner .intro__btn:hover {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}
/* INTRO */
/* ABOUT */
.about .inner {
    background-color: #fff;
}
.about .inner .profile-box {
    display: flex;
    justify-content: center;
}
.about .inner .profile-box .profile-image img {
    width: 200px;
    border-radius: 50%;
}
.about .inner .profile-box .profile-text {
    text-align: left;
    padding-left: 50px;
}
/* ABOUT */
/* SKILL */
.skill .inner {
    background-color: #80ff00;
    border-radius: 10px;
}
.skill .inner .skill-box {
    background-color: lightgreen;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 0;
}
.skill .inner .skill-box > ul {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.skill .inner .skill-box > ul > li {
    display: flex;
    font-weight: bold;
    align-items: center;
}
.skill .inner .skill-box .category {
    flex: 2;
    margin: 10px 0;
}
.skill .inner .skill-box .details {
    flex: 8;
}
.skill .inner .skill-box .details ul {
    display: flex;
    /* justify-content: space-evenly; */
    column-gap: 10px;
}
.skill .inner .skill-box .details ul li {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(100px);
    transition: 300ms;
}
.skill.show .inner .skill-box .details ul li {
    opacity: 1;
    transform: translateY(0);
}
.skill.show .inner .skill-box > ul >li:last-child .details ul li:last-child {
    animation: burst-up 1000ms;
}
.skill .inner .skill-box .details ul li:hover {
    cursor: default;
}
/* SKILL */
/* ARCHIVE */
.archive .inner {
    background-color: #333;
}
.archive .inner .title-box {
    color: #fff;
    border-bottom-color: #fff;
}
.archive .inner .git-box {
    background-color: #fff;
    width: 500px;
    height: 200px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}
.archive .inner .git-box:hover .git-text {
    text-shadow: 0 0 10px #000;
}
.archive .inner .git-box .git-link {
    text-align: left;
}
.archive .inner .git-box .git-icon {
/* background-color: #888; */
display: flex;
justify-content: left;
align-items: center;
column-gap: 10px;
font-size: 50px;
font-weight: 800;
margin-bottom: 10px;
}
.archive .inner .git-box .git-icon img{
    width: 100px;
    border-radius: 50%;
}
.archive .inner .git-box .git-text {
    color: #333;
    font-weight: 600;
}
/* ARCHIVE */
/* PROJECT */
.project .inner {
    background-color: #fff;
}
.project .inner .proj__box {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
}
.project .inner .proj__box .proj__unit {
    width: 440px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #333;
    background-color: #fff;
    text-align: left;
    padding: 10px 15px;
}
.project .inner .proj__box .proj__unit:hover {
    cursor: default;
}
.project .inner .proj__box .proj__unit .proj__title {
    background-color: #FF4030;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 10px;
}
.project .inner .proj__box .proj__unit .proj__term {
    color: #008080;
    border-bottom: 1px solid #008080;
    margin: 2px;
}
.project .inner .proj__box .proj__unit .proj__content h3 {
    font-weight: bold;
}
.project .inner .proj__box .proj__unit .proj__content li {
    list-style: inside;
}
/* PROJECT */
/* CONTACT */
.contact .inner .contact__info {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 0 10px #aaa;
}
.contact .inner .contact__info li:nth-child(1),
.contact .inner .contact__info li:nth-child(3) {
    transform: translateX(200px);
    opacity: 0;
}
.contact .inner .contact__info li:nth-child(2) {
    transform: translateX(-200px);
    opacity: 0;
}
.contact.show .inner .contact__info li {
    transform: translateX(0);
    transition: 1000ms;
    opacity: 1;
}
.contact .inner .contact__sns ul {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.contact .inner .contact__sns ul li {
    width: 80px;
    transform: translateY(100px);
    transition: 1000ms;
    opacity: 0;
}
.contact.show .inner .contact__sns ul li {
    transform: translateY(0);
    opacity: 1;
}
.contact .inner .contact__sns ul li:nth-child(1) {
    transition-delay: 100ms;
}
.contact .inner .contact__sns ul li:nth-child(2) {
    transition-delay: 300ms;
}
.contact .inner .contact__sns ul li img {
    width: 80px;
}
/* CONTACT */
/* FOOTER */
footer {
    background-color: #fff;
    color: #333;
}
footer .inner{
    padding: 30px 0;
}
footer .appreciate {
    font-weight: 600;
}
/* FOOTER */
/* SCROLL TO TOP */
#to-top {
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #808080;
    color: #808080;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(100px);
  }
/* SCROLL TO TOP */




@keyframes fill-center {
    0% { transform: scaleX(0);}
    100% { transform: scaleX(100%);}
}

@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes burst-up {
    0% { transform: translateY(300px) rotate(20deg);}
    60% { transform: translateY(-30px) rotate(-20deg);}
    80% { transform: translateY(20px) rotate(10deg) ;}
    100% { transform: translateY(0); opacity: 1;}
}
